<section class="about-us py-5">
    <div class="container">
        <div class="row align-items-center">
            <!-- Columna de Imagen -->
            <div class="col-lg-4 text-center mb-4 mb-lg-0">
                <img src="assets/images/about-us.webp" class="img-fluid rounded shadow" alt="Nosotros">
            </div>

            <!-- Columna de Texto -->
            <div class="col-lg-8 ">
                <h2 class="section-title mb-4 text-center text-lg-center">Sobre Nosotros</h2>
                <p class="">
                    <strong>Blaa Group SAS</strong> es una agencia de marketing digital especializada en potenciar
                    marcas a través de estrategias innovadoras y soluciones digitales a medida.
                </p>
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="benefit-item">
                            <i class="fas me-2 fa-bullseye"></i>
                            <p>Estrategias personalizadas para cada negocio.</p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="benefit-item">
                            <i class="fas me-2 fa-bullhorn"></i>
                            <p>Mayor engagement en redes sociales.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="benefit-item">
                            <i class="fas me-2 fa-code"></i>
                            <p>Sitios web optimizados para conversión.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="benefit-item">
                            <i class="fas me-2 fa-palette"></i>
                            <p>Identidad visual única y profesional.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="benefit-item">
                            <i class="fas me-2 fa-laptop"></i>
                            <p>Formación digital con plataformas interactivas.</p>
                        </div>
                    </div>
                </div>
                <p class="cta-text fw-bold text-center text-lg-center mt-3">
                    Descubre cómo podemos ayudarte a crecer explorando nuestros servicios a continuación.
                </p>
            </div>
        </div>
    </div>
</section>